
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Coverage & Reports
/coverage/
/coverage-report/
/.nyc_output/
/coverage-history/
*.lcov

